<div>
  <div style="display: grid; grid-template-columns: 1fr 1fr;">
    <div>
      <h3>Signals</h3>
      <hr>
      <p>count: {{count()}}</p>
      <p>doubleCount: {{doubleCount()}}</p>
      <p>countSuma: {{countSuma()}}</p>
      <p>count3: {{count3()}}</p>
      <p>calculoComputed: {{calculoComputed()}}</p>
      <div *ngIf="calculoComputed()">
        <p>Probvando el computed</p>
      </div>
      <button (click)="triggerChanges()">Increment</button>
      <button (click)="triggerChanges2()">Increment 2</button>
    </div>
    <div>
      <h3>Observables</h3>
      <hr>
      <p></p>
    </div>
  </div>
</div>